
<form action="">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="mb-3 row">
          <label for="" class="col-sm-2 col-form-label">DNI</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" >
          </div>
        </div>
        <div class="mb-3 row">
          <label for="" class="col-sm-2 col-form-label">Nombre</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" >
          </div>
        </div>
        <div class="mb-3 row">
          <label for="" class="col-sm-2 col-form-label">Ap Paterno</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" >
          </div>
        </div>
      </div>
      <div class="col">
        <div class="mb-3 row">
          <label for="" class="col-sm-2 col-form-label">Ap Materno</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" >
          </div>
        </div>
        <div class="mb-3 row">
          <label for="" class="col-sm-2 col-form-label">Mail</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" >
          </div>
        </div>
        <div class="mb-3 row">
          <label for="" class="col-sm-2 col-form-label">Teléfono</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" >
          </div>
        </div>
      </div>
    </div>
  </div>

</form>
